In [60]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [61]:
df = pd.read_csv('used_cars.csv')

In [62]:
df.head()

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,0,7034441763,https://saltlakecity.craigslist.org/cto/d/salt...,salt lake city,https://saltlakecity.craigslist.org,17899,2012.0,volkswagen,golf r,excellent,...,4wd,compact,hatchback,black,https://images.craigslist.org/00G0G_fTLDWM5Xyv...,PRICE REDUCED! -Garage kept -Low Miles (63K)...,NaN,ut,40.7372,-111.858
1,1,7034440610,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00v0v_7Cu0buIofU...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
2,2,7034440588,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,46463,2015.0,gmc,sierra 1500,excellent,...,4wd,NaN,NaN,white,https://images.craigslist.org/01515_lPvJ9bfbdY...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
3,3,7034440546,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_6Rjfp3NS4O...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
4,4,7034406932,https://saltlakecity.craigslist.org/ctd/d/evan...,salt lake city,https://saltlakecity.craigslist.org,49999,2018.0,ford,f-450,NaN,...,4wd,NaN,pickup,white,https://images.craigslist.org/00W0W_8yIUwRBXXd...,2018 Ford F-350 F350 F 350 SD Lariat Crew Cab ...,NaN,ut,40.3744,-104.694

In [63]:
len(df)

20001

In [64]:
df.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'vin', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'county', 'state', 'lat',
       'long'],
      dtype='object')

Decide which columns of data we would like to keep

In [65]:
df.drop(['Unnamed: 0', 'id', 'url', 'region_url', 'lat', 'long'], axis=1, inplace=True)

In [66]:
df.sample(5)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state
19210,bellingham,10000,2016.0,jeep,patriot,NaN,NaN,gas,41729.0,clean,manual,1C4NJPBA8GD807788,fwd,NaN,SUV,silver,https://images.craigslist.org/00R0R_1PP90cO6rH...,2016 Jeep Patriot Sport Offered by: CDJR o...,NaN,wa
15236,roanoke,7995,2012.0,volkswagen,beetle,NaN,NaN,gas,76385.0,clean,automatic,3VWJP7AT6CM607424,NaN,sub-compact,hatchback,white,https://images.craigslist.org/00b0b_h2ohNeFAmK...,2012 Volkswagen Beetle 2.5L w/Sunroof Sound & ...,NaN,va
14860,roanoke,3999,2007.0,chrysler,pacifica touring,excellent,6 cylinders,gas,121625.0,clean,automatic,NaN,fwd,NaN,hatchback,green,https://images.craigslist.org/00L0L_hT9soeiiMk...,Roanoke Auto Sale is a friendly operated deale...,NaN,va
1824,vermont,12900,2010.0,ram,1500 slt quad cab 4wd,NaN,8 cylinders,gas,124000.0,clean,automatic,NaN,4wd,full-size,truck,blue,https://images.craigslist.org/00s0s_hkcjp6MMp0...,"Just in on trade folks, no I'm not a car deale...",NaN,vt
10088,norfolk / hampton roads,39800,2018.0,toyota,tundra crewmax,NaN,8 cylinders,gas,34218.0,clean,automatic,5TFHY5F15JX677904,4wd,NaN,pickup,white,https://images.craigslist.org/00O0O_4JQLOYEfVP...,This Toyota Tundra CrewMax can be yours today!...,NaN,va

We found that county was another column we would like to drop

In [67]:
df.drop(['county'], axis=1, inplace=True)

In [68]:
df.drop(['vin'], axis=1, inplace=True)

In [69]:
df.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
       'drive', 'size', 'type', 'paint_color', 'image_url', 'description',
       'state'],
      dtype='object')

Rename some columns to make the easier to use later on in the study

In [70]:
col_names= ['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title', 'transmission',
       'drive', 'size', 'type', 'color', 'image_url', 'description',
       'state']

In [71]:
df.columns= col_names

In [72]:
df.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title', 'transmission', 'drive',
       'size', 'type', 'color', 'image_url', 'description', 'state'],
      dtype='object')

In [73]:
df.dtypes

region           object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title            object
transmission     object
drive            object
size             object
type             object
color            object
image_url        object
description      object
state            object
dtype: object